langchain>=0.3.0
langchainhub
langchain-core
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-community
sentence-transformers>=2.2.2
chromadb>=0.4.14
torch>=1.9.0
requests
streamlit
pydantic>=2.11.7
